<!-- extender layout -->
{% extends 'pagina/layout.html'%}
<!-- da el nombre a la pestaña de la paginaactual -->
{% block title%} APLICACION {% endblock%}

{% block contenido %}

    <!-- bloque del manu -->
    {% include 'pagina/menu_ppal.html'  %}
    

    <br>

    <h2> ANIME</h2> <!-- titulo -->

    <br>

    <!-- link pokemon -->
    <a href="{{url_for('Enlace_1')}}" class="btn btn-outline-warning pokemon-btn">POKEMON</a> <!-- Botón con borde -->


    <!-- link dragonball -->
    <a href="{{url_for('Enlace_2')}}" class="btn btn-outline-warning dragonball-btn">DRAGON BALL</a> <!-- dragonball-btn es por el css -->


    <br>
    <br>

    


{% endblock %}