*{
    margin: 0;
    padding: 0;
}



/* menu principal*/
#menu{
    background-color: rgba(3, 62, 255, 0);
    border-radius: 10px;
    border: 1px solid #000;
}



/* menu */
#menu .navbar-brand {
    color: white;
}

#menu .navbar {
    border: 0.7px solid gray; /* Cambia el color del borde */
}

#menu .navbar-toggler {
    background-color: white; /* Cambia el fondo del botón de toggler */
}

#menu .nav-link {
    color: white; /* Cambia el color de los enlaces */
}






/* imagen principal */
img {
    border-radius: 8px; /* Redondear esquinas */
    border: 2px solid rgba(255, 165, 0, 0.5); /* Color naranja fuego con transparencia */
    box-shadow: 0 4px 20px rgba(255, 165, 0, 0.7); /* Sombra anaranjada */
    transition: transform 0.3s; /* Transición suave */
}

/* para la base del botón de Dragon Ball */
.dragonball-btn{
    border-radius: 8px; /* Redondear esquinas */
    /* color: white; para cambiar el color del texto */
    border: 2px solid rgba(255, 0, 0, 0.5); /* Color rojo fuego con transparencia */
    box-shadow: 0 4px 20px rgba(156, 35, 35, 0.7); /* Sombra anaranjada */
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s; /* Transición suave */
}

/* cuando pase el cursor por encima */
.dragonball-btn:hover {
    background-color: red; /* Cambia el fondo a rojo al pasar el cursor */
    color: black; /* Cambia el color del texto a blanco */
    border-color: red; /* Cambia el color del borde a rojo */
}


img:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
}

/* Excluir la imagen con la clase custom-image por estetica */
.custom-image {

    border: none; /* Sin borde */
    box-shadow: none; /* Sin sombra */
    border-radius: 0; /* Sin redondeo */

}


/* centrar los textos */
h2{

    text-align: center;

}





.card-container { /*modificar el container (las tarjetas para organisarlas)*/
    display: flex; /* Habilita el modelo de diseño Flexbox, permitiendo que los elementos dentro de este contenedor se organicen en una fila o columna según la configuración predeterminada (fila) */
    gap: 16px; /* Define un espacio de 16px entre cada elemento dentro del contenedor Flexbox, creando separación entre las tarjetas */
}
.card-item { /*ara aplicar estilos específicos a cualquier elemento que tenga la clase card-item*/
    flex: 1; /* Permite que cada tarjeta ocupe el mismo ancho, dividiendo el espacio disponible en partes iguales entre ellas */
}    


/* imagen inicial */
.mi-imagen-especial {
    border: 5px solid black; /* Agrega un borde azul de 5px */
    border-radius: 10px; /* Redondear esquinas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra negra */
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

/* imagen inicial */
.mi-imagen-especial {
    text-align: center;
    border-radius: 8px; /* Redondear esquinas */
    border: 2px solid rgba(0, 0, 0, 0.5); /* Color naranja fuego con transparencia */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); /* Sombra anaranjada */
    transition: transform 0.3s; /* Transición suave */
    
    /* para centrar la imagen:  */
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 997px;
    
}
.mi-imagen-especial:hover {/*cuando el mause este arriba*/
    border-radius: 8px; /* Redondear esquinas */
    border: 2px solid rgba(92, 92, 92, 0.5); /* Color naranja fuego con transparencia */
    box-shadow: 0 4px 20px rgba(92, 92, 92, 0.5); /* Sombra anaranjada */
    transition: transform 0.3s; /* Transición suave */
}