<!-- esteder el layout -->
{% extends 'layout.html' %}
<!-- titulo pestaña -->
{% block title %}LOGIN {% endblock %}

<!-- COntenido de la pagina -->
{% block contenido %}


<section id="login">
    <div class="row">
        <div class="col-md-2"></div>

        <!-- hacelo mas ancho con el 12 -->
        <div class="col-md-12">
            <div class="card mb-3" style="max-width: 940px;">
                <div class="row g-0">
                    <div class="col-md-12 text-center">
                        <img src="{{url_for('static',filename='Imagenes/login')}}" class="img-fluid rounded custom-image" alt="...">
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">INICIO DE SESIÓN</h5>
                            <form action="{{url_for('Aplicacion')}}" method="get">
                                <div class="form-floating mb-3">

                                    <!-- autofocus y requerido -->
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autofocus required>
                                    <label for="floatingInput">USUARIO</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                                    <label for="floatingPassword">CONTRASEÑA</label>
                                </div>
                                <br>
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected>Seleccione</option>
                                        <option value="1">Gerente</option>
                                        <option value="2">Administrador</option>
                                        <option value="3">Cajero</option>
                                    </select>
                                    <label for="floatingSelect">Seleccione Cargo</label>
                                </div>
                                <hr>
                                <button type="submit" class="btn btn-primary">INGRESAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>

{% endblock %}