<!-- usar como base layout.html -->
{% extends 'pagina/layout.html'%}

<!-- da el nombre a la pestaña de la paginaactual -->
{% block title%}inicial {% endblock%}

{% block contenido %}

    {% include 'pagina/estilos/principal.html'  %}<!--css de la pagina--> 

    <!-- tenxto e imagen -->
      <section>
        
          <div class="environment"></div>
          
          <!-- letras -->
            <div class="container">
                <p class="glitch">
                    animehives
                </p>
                
                <a href="{{ url_for('Enlace_1') }}" class="boton">entrar</a>
                
            </div>
        </div>
      </section>

{% endblock %}