<!-- extender layout -->
{% extends 'pagina/layout.html'%}
<!-- da el nombre a la pestaña de la paginaactual -->
{% block title%} REPORTE {% endblock%}

{% block contenido %}
    {% include 'formularios/menu_formularios.html' %}
    <h2> REPORTE GENERAL </h2>

    <section class="seccion">
        <a class="btn btn-success mb-5" href="{{url_for('Agregar')}}" role="button">AGREGAR</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">CODIGO</th>
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">MODIFICAR</th>
                    <th scope="col">ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>mago</th>
                    <th> <a href="{{url_for('Modificar')}}"class="btn btn-success mb-5" role="button" >Modificar</a>      </th>
                    <th>eliminar</th>
                </tr>

            </tbody>
        </table>

    </section>



{% endblock %}