*{
    margin: 0;
    padding: 0;
}

/* cuerpo */
body {
    background-color: black;

    color: white;
}

/* menu principal*/
#menu{
    background-color: rgba(3, 62, 255, 0);
    border-radius: 10px;
    border: 1px solid #000;
}

/*login*/
#login{
    margin: 25px;
}

/* menu */
#menu .navbar-brand {
    color: white;
}

#menu .navbar {
    border: 0.7px solid gray; /* Cambia el color del borde */
}

#menu .navbar-toggler {
    background-color: white; /* Cambia el fondo del botón de toggler */
}

#menu .nav-link {
    color: white; /* Cambia el color de los enlaces */
}

/* para el login */
#login{

    color: #000;

}

/* centrar */
html, body {
    height: 100%;
    margin: 0;
}

#login {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 100vh;         /* Altura completa de la ventana */
}

/* ajustar imagen con custom-image */
.custom-image {

    width: 120px;  /* Cambia este valor según el ancho que desees */
    height: 120px; /* Cambia este valor según la altura que desees */
    object-fit: cover; /* Mantiene la proporción de la imagen y la recorta si es necesario */

}

/* imagen principal */
img {
    border-radius: 8px; /* Redondear esquinas */
    border: 2px solid rgba(255, 165, 0, 0.5); /* Color naranja fuego con transparencia */
    box-shadow: 0 4px 20px rgba(255, 165, 0, 0.7); /* Sombra anaranjada */
    transition: transform 0.3s; /* Transición suave */
}

img:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
}


/* centrar los textos */
h2{

    text-align: center;

}